.about {
  height: 100%;
}
.about img {
  width: 88%;
}
.about .text h1 {
  font-size: 90px;
  color: var(--thirdColor);
  margin-bottom: 10px;
}
.about .text p {
  color: #434343;
  line-height: 1.6;
}
.about .text h1 span {
  color: #3485b9;
}
@media (max-width: 991px) {
  .about .text h1 {
    font-size: 70px;
  }
}
@media (max-width: 527px) {
  .about .text,
  .textGoal {
    text-align: center;
  }
  .about .text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .about .text p {
    font-size: 10px;
  }
  .about img {
    display: none;
  }
}
.container .row {
  display: flex;
  align-items: center;
}
.textGoal {
  margin-top: 40px;
}
.textGoal img {
  margin-bottom: 10px;
}
.textGoal h5 {
  font-weight: 700;
}
.textGoal p {
  color: #434343a8;
  line-height: 1.6;
}
.imageGoal img {
  width: 88%;
}
.teams {
  margin-top: 80px;
}
.teams .headteam {
  padding-top: 60px;
  color: #2b2b2b;
  border-right: 5px solid #3485b9;
  padding: 15px;
}
.teams .headteam h3 {
  font-size: 30px;
  font-weight: 700;
}
.teams .headteam p {
  color: #434343a8;
}
.teams {
  background-image: linear-gradient(0deg, #f8f8f8, #fff);
  padding: 20px;
}
.teams .allImage {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 60px 99px #00000014;
  text-align: center;
}
.teams .imageteams {
  position: relative;
}
.teams .imageteams img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
}
.teams .allImage h5 {
  font-weight: 700;
  margin-top: 5px;
}
.teams .allImage p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.57);
}
.teams .imageteams .overlay {
  background-color: #00000068;
  width: 0%;
  height: 0%;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.teams .imageteams .icons {
  width: 0%;
  height: 0%;
  transition: all 0.5s;
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 18px;
  opacity: 0;
  color: #fff;
  cursor: pointer;
}
.teams .allImage:hover .overlay {
  width: 100%;
  height: 100%;
}
.teams .allImage:hover .icons {
  opacity: 1;
}
